{% extends "base.html" %}

{% load get_item %}

{% block title %}Tf-Idf Table{% endblock %}

{% block style %}
    <style type="text/css">
        table {
            border: 1px solid black;
        }
        td, th {
            padding: 3px;
            border: 1px solid black;
        }
        thead {
            text-align: left;
            background: #c0c0c0;
            color: black;
        }
    </style>
{% endblock %}

{% block content %}
    {% if page_obj %}
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>word</td>
                    {% for name in file_names %}
                        <td>tf ({{ name }})</td>
                    {% endfor %}
                    <td>idf</td>
                </tr>
            </thead>
            <tbody>
                {% for row in page_obj %}
                    <tr>
                        <td>{{ rows_counter_start|add:forloop.counter }}</td>
                        {% for value in row %}
                            <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
            {% endif %}

            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Далее</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}

        </div>
    {% else %}
    Файл(ы) пуст
    {% endif %}
{% endblock %}